<mat-list>
  <mat-list-item (click)="navigateTo('/')">
    <!-- <mat-icon class="mat-list-icon">home</mat-icon> -->
    Dashboard</mat-list-item
  >
  <mat-divider></mat-divider>
  <mat-list-item (click)="navigateTo('/form')">Form</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="navigateTo('/map')">Map</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Calendar</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item (click)="navigateTo('/table')">Table</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Charts</mat-list-item>
</mat-list>
