<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="openSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Interactive Data Visualization</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with notifications icon"
    matBadge="7"
    matBadgeColor="accent"
    matBadgeSize="small"
    [matMenuTriggerFor]="notificationMenu"
  >
    <mat-icon>notifications</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with person icon"
    [matMenuTriggerFor]="profileMenu"
  >
    <mat-icon>person</mat-icon>
  </button>

  <!-- <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ isIndigoPink ? "brightness_4" : "brightness_5" }}</mat-icon>
  </button> -->

  <mat-slide-toggle
    color="primary"
    [(ngModel)]="isIndigoPink"
    (change)="toggleTheme()"
  ></mat-slide-toggle>
</mat-toolbar>

<mat-menu #notificationMenu="matMenu" yPosition="below" class="custom-menu">
  <a mat-menu-item>Hello, you have a notification</a>
  <a mat-menu-item>Another, notification</a>
</mat-menu>

<mat-menu #profileMenu="matMenu" yPosition="below" class="custom-menu">
  <a (click)="navigateTo('/profile')" mat-menu-item>Profile</a>
  <a (click)="navigateTo('/login')" mat-menu-item>Log Out</a>
</mat-menu>
